<nav>
    <div class="site-title">
      <a href="/"><h1>Ghoul</h1></a>
      <p>A place to write, read and discuss.</p>
    </div>
    <ul>
      <li><a href="/">Blogs</a></li>
      <li><a href="/about">About</a></li>
      <li><a href="/blogs/create">New Blog</a></li>
    </ul>
  </nav>